@charset "utf-8";
/* 設定 */
* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
}
html {
	font-size : 62.5%;
    font-family: 'Raleway', sans-serif;;
	color: #000000;
}
img {
    vertical-align: bottom;
    max-width: 100%;
    object-fit: cover;
}
a {
    color: #333333;
    text-decoration: none;
    display: block;
}
a:hover {
	cursor: pointer;
}
li {
    list-style-type: none;
}
/* 設定 */

/* CSS Document */
#container {
    width : 100vw;
}
/* header */
header {
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
h1 {
    width: 100px;
    margin-right: 60px;
}
h1 img {
    width: 100%;
}
h1:hover {
    cursor: pointer;
}
.flex {
    display: flex;
}
.header_inner {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding : 0 15px;
    align-items : center;
}
.header_inner ul li {
    font-size: 1.2rem;
    margin-right: 30px;
}
#contact {
    width : 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #000;
    color: white;
}
/* header_end */

/* main_img */
#main_img {
    margin-bottom: 120px;
}
#main_img img {
    width: 100vw;
    height: calc(100vh - 80px);
    object-fit: cover;
}
/* main_img_end */

/* news */
#news {
    width: 95%;
    max-width: 1000px;
    margin : 0 auto 120px;
}
h2 {
    line-height: 1;
    margin-bottom: 50px;
    font-weight: 400;
}
h2 .en {
    display: block;
    font-size: 3.6rem;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
h2 .ja {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 36px;
}
hr {
    width: 40px;
}
#news li {
    width: calc(100% / 3);
    font-size: 1.4rem;
    border-right: 1px solid #000;
    padding: 10px 20px;
}
#news li:first-child {
    padding-left: 0;
}
#news li:last-child {
    border-right: none;
}
#news li span {
    width: 50px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
}
/* news_end */

/* about */
#about {
    width: 100%;
    margin-bottom: 120px;
}
#about_img {
    width: 55%;
    height: 400px;
}
#about_img img {
    width: 100%;
    height: 100%;

}
#about_text {
    width: 45%;
    padding: 180px 5% 0 5%;
}
#about_text p {
    font-size: 1.6rem;
    line-height: 1.8;
}
/* about_end */

/* business */
#business {
    width: 95%;
    max-width: 1000px;
    margin : 0 auto 120px;
}
#business_photo {
    padding : 0 10%;
    justify-content: space-between;
}
#left {
    width : 46%;
    margin-top: 100px;
}
#right {
    width : 46%;
}
h3 {
    font-size: 1.6rem;
}
.item {
    margin-bottom: 50px;
}
.item:last-child {
    margin-bottom: 0;
}
.item_img {
    margin-top: 15px;
}
/* business_end */

/* company */
#company {
    position: relative;
    height: 750px;
    width: 95%;
    max-width: 1000px;
    margin : 0 auto 120px;
}
#company_left {
    width: 50%;
    padding : 100px 5%;
    position: absolute;
    top: 0;
    left : 0;
    background-color: #fff;
}
#company_right {
    position: absolute;
    width: 55%;
    top : 115px;
    right : 0;
}
#company_right img {
    width : 100%;
    height: 400px;
    object-fit: cover;
}
#information {
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}
#information dt {
    width: 20%;
    font-size: 1.4rem;
    margin-top: 10px;
}
#information dt:first-of-type {
    margin-top: 0;
}
#information dd {
    width: 80%;
    font-size: 1.4rem;
    margin-top: 10px;
}
#information dd:first-of-type {
    margin-top: 0;
}
#company #information .add {
    margin-left: 20%;
}
/* company_end */

/* footer */
footer {
    background-color: white;
    padding-bottom : 10px;
    font-size: 1.2rem;
}
#footer_inner {
    width: 95%;
    max-width: 1000px;
    margin : 0 auto;
}
#footer_flex {
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}
footer img {
    width: 100px;
    cursor: pointer;
}
/* footer_end */
@media (max-width : 900px) {
    /* header */
    .header_inner {
        padding : 0 5%;
    }
    #contact {
        display: none;
    }
    #main {
        background-color: antiquewhite;
    }
    /* header_end */

    /* news */
    #news {
        width: 95%;
        margin: 0 2.5% 120px;
    }
    #news_flex {
        flex-direction: column;
    }
    #news li {
        width: 100%;
        border-right: none;
        padding: 20px 0;
    }
    .news_list {
        margin-bottom: 5px;
    }
    /* news_end */

    /* about */
    #about {
        flex-direction: column;
    }
    #about_img {
        width: 100%;
        height: 400px;
    }
    #about_img img {
        width: 100%;
        height: 100%;
    
    }
    #about_text {
        width: 100%;
        padding: 60px 5% 0 5%;
    }
    /* about_end */

    /* business */
    #business {
        width: 95%;
    }
    #business_photo {
        padding : 0;
        justify-content: flex-start;
        flex-direction: column;
    }
    #left {
        width : 100%;
        margin-top: 0;
    }
    #right {
        width : 100%;
        margin-top : 50px
    }
    .item_img {
        text-align: center;
    }
    /* business_end */
    
    /* company */
    #company {
        position: static;
        flex-direction: column;
        height: auto;
    }
    #company_left {
        width: 100%;
        margin-bottom : 40px;
        position: static;
        background-color: #fff;
    }
    #company_right {
        position: static;
        width: 100%;
    }
    /* company_end */

    /* footer */
    #footer_flex {
        justify-content: flex-start;
        flex-direction: column;
        align-items: stretch;
    }
    footer img {
       margin-bottom: 15px;
    }
    /* footer_end */
}
