@charset "utf-8";
/* 設定 */
* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}
body {
    background-color: #e6e2d7;
}
html {
	font-size : 62.5%;
    font-family: 'Noto Serif JP', serif;
	color: #000000;
}
img {
    vertical-align: bottom;
    max-width: 100%;
    object-fit: cover;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
	cursor: pointer;
}
li {
    list-style-type: none;
}
/* 設定 */

/* CSS Document */
/* header */
header {
    width: 100vw;
    height: 100vh;
    padding : 60px 80px;
    color: white;
    background-image: url(../image/mainvisual-pc.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
h1 {
    margin-left: 60px;
    line-height: 1px;
}
.site_title {
    cursor: pointer;
}
.site_title img {
    width: 40px;
}
nav li {
    font-size: 1.4rem;
    margin-left: 25px;
}
#header_shop {
    background-color: rgba(255, 255, 255, 0.2);
    padding : 8px;
    position: absolute;
    bottom : 30px;
    left : 40px;
}
#header_shop a {
    border: 1px solid #ccc;
    padding : 30px 18px;
    font-size: 1.4rem;
    display: block;
}
/* header_end */

/* news */
.main_inner {
    width: 95vw;
    max-width: 1024px;
    margin: 0 auto;
}
#news {
    margin : 120px auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    flex-direction :column;
}
#news h2 {
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: 5px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
h2 .en{
    font-size: 1.4rem;
    display: block;
    letter-spacing: 0;
}
h2 .ja {
    font-size: 3.4rem;
    display: block;
    letter-spacing: 5px;
    font-weight: 400;
}
#news dl {
    margin : 80px 100px 0 0;
}
#news dt {
    font-size: 1.4rem;
    border-right: 1px solid #333;
    padding : 20px 20px 20px 10px;
}
#news dd {
    font-size: 1.6rem;
    padding : 20px 0 20px 30px;
}
#news dd:last-of-type {
    border-left: 1px solid #333;
}
/* news_end */

/* create */
#create {
    margin : 0 auto 120px;
    flex-direction: row-reverse;
}
.flex {
    display: flex;
}
.flex h2 {/* createとharmonyのh2設定 */
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: 5px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
#create h2 {
    margin-left: 20px;
}
.menu h2 span {/* createとharmonyのh2 span設定 */
    letter-spacing: 0;
    font-size: 1.4rem;
    margin-top: 20px;
}
.main_inner_img {
    width: 65%;
    margin-top: 100px;
    position : relative;
}
.main_inner_img img {
    width: 100%;
}
.main_inner_text {/* create_textとharmony_textの共通設定 */
    position: absolute;
    width: 40%;
    padding: 50px 0;
    text-align: center;
    font-size : 1.4rem;
    color: #fff;
    bottom: -20px;
}
#create_text {
    left: -20px;
    background-color: rgba(249, 233, 0, 0.6);
}
/* create_end */

/* harmony */
#harmony {
    margin: 0 auto 120px;
}
#harmony h2 {
    margin-right: 20px;
}
#harmony_text {
    right: -20px;
    background-color: rgba(149, 42, 39, 0.6);
}
/* harmony_end */

/* place */
#place iframe{
    width: 100%;
    vertical-align: bottom;
}
/* place_end */

/* footer */
footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 80px 80px 30px 30px;
    font-size: 1.4rem;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
footer .flex {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
}
#footer_left span {
    margin: 5px 0;
}
#footer_right img {
    margin-left: 20px;
}
#footer_right nav {
    margin-right: 20px;
}
/* footer_end */
@media (max-width : 768px) {/* タブレット向け */
    /* header */
    body {
        background-color: rgba(0, 32, 180, 0.6);
    }
    header {/* スマホ版でheaderのbackground-image変更 */
        padding : 60px;
        background-image: url(../image/mainvisual-sp.jpg);
    }
    /* header_end */

    /* news */
    .main_inner {
        width: 95vw;
    }
    #news dl {
        margin : 80px 60px 0 0;
    }
    #news dd:nth-of-type(3) {
        border-left: 1px solid #333;
    }
    #news dt:nth-of-type(n+4) {
        display: none;
    }
    #news dd:nth-of-type(n+4) {
        display: none;
    }
    /* news_end */

    /* create & harmony */
    .menu h2 span {
        display: none;
    }
    .main_inner_img {
        width: 70%;
    }
    .main_inner_text {/* create_textとharmony_textの共通設定 */
        width: 70%;
    }
    /* create & harmony */

    /* footer */
    footer {
        padding: 60px 60px 30px 30px;
    }
    /* footer_end */
}
@media (max-width : 480px) {/* スマホ向け */
    body {
        background-color: rgba(149, 42, 39, 0.6);
    }
    /* header */
    header {
        padding : 40px;
    }
    /* header_end */

    /* news */
    #news dl {
        margin : 80px 25px 0 0;
    }
    /* news_end */

    /* footer */
    footer {
        padding: 40px 40px 30px 30px;
    }
    /* footer_end */
}
@media (max-width : 440px) {/* スマホ向け */
    #news dd:nth-of-type(2) {
        border-left: 1px solid #333;
    }
    #news dt:nth-of-type(n+3) {
        display: none;
    }
    #news dd:nth-of-type(n+3) {
        display: none;
    }
}
