@charset "utf-8";
/* 設定 */
* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}
html {
	font-size : 62.5%;
    font-family: 'Raleway', sans-serif;;
	color: #333333;
}
img {
    vertical-align: bottom;
    max-width: 100%;
}
a {
    color: #333333;
    text-decoration: none;
    display: block;
}
a:hover {
	cursor: pointer;
}
li {
    list-style-type: none;
}
/* 設定 */

/* CSS Document */
#container {
    max-width : 1000px;
    margin : 0 auto;
}
header {
    padding : 50px 0 30px;
    margin: 0 auto 50px;
    border-bottom : 1px solid #c3c3c3;
}
h1 {
    width: 120px;
    margin: 0 auto;
}
h1 img {
    width: 100%;
}
.flex {
    display: flex;
}
nav {
    max-width: 800px;
    margin: 30px auto 0;
    overflow-x: auto;
    justify-content: space-between;
    font-size: 1.4rem;
}
nav::-webkit-scrollbar {
    display: none;
   }
nav #menu li {
    margin-right: 15px;
}
nav #login li {
    margin-left: 15px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.4rem;
    margin-bottom: 100px;
}
#item_left {
    width: 50%;
}
#item_right {
    width: 45%;
    margin-left: 5%;
}
#item_right h2 {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
#item_right p {
    margin-bottom: 20px;
    line-height: 1.8;
}
table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse : collapse;
}
.order th, .order td {
    border-right: 1px solid #c3c3c3;
    padding: 10px;
    font-weight: normal;
}
.order th:last-of-type, .order td:last-of-type {
    border-right: none;
}
.order td {
    border-top: 1px solid #c3c3c3;
    text-align: center;
}
.color {
    width: 20%;
}
.size {
    width: 20%;
}
.clothes {
    width: 60%;
}
select {
    width: 100%;
    border: 1px solid #c3c3c3;
    padding: 0 10px;
    font : inherit;
}
#cart {
    width: 100%;
    background-color: #4b4b4b;
    color: white;
    text-align: center;
    padding : 20px 0;
    margin-bottom: 30px; 
}
#size_list,  #size_list th, #size_list td {
    border : 1px solid #c3c3c3;
    padding: 10px;
    font-weight: normal;
}
#size_list th, #size_list .size {
    background-color: #ecebeb;
}
#size_list td {
    text-align: center;
}
footer {
    max-width: 800px;
    margin: 0 auto;
    padding : 10px 0;
    text-align: center;
}
@media (max-width : 896px) {
    header {
        width: 95vw;
        margin: 0 auto;
    }
    main {
        width: 100%;
        flex-direction: column;
    }
    #item_left {
        width: 100%;
    }
    #item_right {
        width: 95%;
        margin: 20px auto 0;
    }
}
